<div class="container">
  <form autocomplete="off" (ngSubmit)="salvarPessoa()" [formGroup]="pessoaForm">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input
          pInputText
          type="text"
          name="nome"
          formControlName="nome"
          >
        <app-message [control]="pessoaForm.get('nome')" error="obrigatoriedade" message="Nome completo é obrigatório!"></app-message>
        <app-message [control]="pessoaForm.get('nome')" error="tamanhoMinimo" message="Dever ter no mínimo {{ pessoaForm.get('nome').errors?.tamanhoMinimo?.tamanho }}"></app-message>
      </div>

      <div class="p-col-12 p-md-4 p-fluid" formGroupName="endereco">
        <label>CEP</label>
        <p-inputMask
          mask="99.999-999"
          name="cep"
          formControlName="cep"
        ></p-inputMask>

        <app-message [control]="pessoaForm.get('endereco.cep')" error="obrigatoriedade" message="CEP é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-4 p-fluid" formGroupName="endereco">
        <label>Bairro</label>
        <input
          pInputText
          type="text"
          name="bairro"
          formControlName="bairro"
        >

        <app-message [control]="pessoaForm.get('endereco.bairro')" error="obrigatoriedade" message="Bairro é obrigatório!"></app-message>
        <!-- <app-message [control]="pessoaForm.get('bairro')" error="tamanhoMinimo" message="Dever ter no mínimo {{ pessoaForm.get('bairro').errors?.tamanhoMinimo?.tamanho }}"></app-message> -->
      </div>

      <div class="p-col-12 p-md-4 p-fluid" formGroupName="endereco">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento" formControlName="complemento">
      </div>

      <div class="p-col-12 p-md-9 p-fluid" formGroupName="endereco">
        <label>Logradouro</label>
        <input
        pInputText
        type="text"
        name="logradouro"
        formControlName="logradouro"
        >

      <app-message [control]="pessoaForm.get('endereco.logradouro')" error="obrigatoriedade" message="Logradouro é obrigatório!"></app-message>
      <!-- <app-message [control]="pessoaForm.get('logradouro')" error="tamanhoMinimo" message="Dever ter no mínimo {{ pessoaForm.get('logradouro').errors?.tamanhoMinimo?.tamanho }}"></app-message> -->
      </div>

      <div class="p-col-12 p-md-3 p-fluid" formGroupName="endereco">
        <label>Número</label>
        <input
          pInputText
          type="text"
          name="numero"
          formControlName="numero"
        >

        <app-message [control]="pessoaForm.get('endereco.numero')" error="obrigatoriedade" message="Número é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="endereco">
        <label>Cidade</label>
        <input
          pInputText
          type="text"
          name="cidade"
          formControlName="cidade"
        >

        <app-message [control]="pessoaForm.get('endereco.cidade')" error="obrigatoriedade" message="Cidade é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="endereco">
        <label>Estado</label>
        <input
          pInputText
          type="text"
          name="estado"
          formControlName="estado"
        >

        <app-message [control]="pessoaForm.get('endereco.estado')" error="obrigatoriedade" message="Estado é obrigatório!"></app-message>
      </div>

      <div class="p-col-12">
        <p-panel header="Contatos">
          <div class="p-grid">
            <div class="p-col-12">
              <button
                pButton
                label="Novo Contato"
                icon="pi pi-plus"
                type="button"
                (click)="exibirModalContato()"
              ></button>
            </div>
            <div class="p-col-12">
              <p-table [value]="contatos" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header"></th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td class="col-acoes">
                      <button
                        pButton
                        icon="pi pi-pencil"
                        type="button"
                        pTooltip="Editar"
                        tooltipPosition="top"
                        (click)="prepararEdicaoContato(contato, rowIndex)"
                      ></button>

                      <button
                        pButton
                        icon="pi pi-trash"
                        type="button"
                        pTooltip="Excluir"
                        tooltipPosition="top"
                      ></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" class="p-button-success" [disabled]="pessoaForm.invalid"></button>
        <button pButton type="button" label="Novo" (click)="novaPessoa()"></button>

        <a routerLink="/pessoas" pButton class="p-button-info">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>

<p-dialog header="Novo Contato" [(visible)]="exibirFormularioContato" [modal]="true" >
  <form [formGroup]="contatoForm" (ngSubmit)="confirmarContato()">
    <div class="p-grid">
      <div class="p-col-12 p-fluid" formGroupName="contatos">
        <label>Nome</label>
        <input
          pInputText
          type="text"
          name="nome"
          formControlName="nome"
        >
        <app-message [control]="contatoForm.get('contatos.nome')" error="obrigatoriedade" message="Nome é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-fluid" formGroupName="contatos">
        <label>Email</label>
        <input
          pInputText
          type="email"
          name="email"
          formControlName="email"
        >
        <app-message [control]="contatoForm.get('contatos.email')" error="obrigatoriedade" message="Nome é obrigatório!"></app-message>
        <app-message [control]="contatoForm.get('contatos.email')" error="email" message="Informe um e-mail válido!"></app-message>
      </div>

      <div class="p-col-12 p-fluid" formGroupName="contatos">
        <label>Telefone</label>
        <p-inputMask
          mask="(99) 9 9999-9999"
          name="telefone"
          formControlName="telefone"
        ></p-inputMask>
      </div>

      <div class="p-col-12">
        <button
          pButton
          type="submit"
          label="Salvar"
          [disabled]="contatoForm.get('contatos').invalid"
        ></button>
      </div>

    </div>
  </form>
</p-dialog>
