<div class="container">
  <form autocomplete="off" #lancamentoForm="ngForm">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="tipos" aria-pressed="true"  #tipo></p-selectButton>
      </div>

      <div class="p-col-12 p-md-6 p-lg-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          name="vencimento"
          ngModel #vencimento="ngModel"
          [required]="true"
        ></p-calendar>

        <!-- <app-message [control]="vencimento" error="required" message="Data de vencimento é obrigatório!"></app-message> -->
      </div>

      <div class="p-col-12 p-md-6 p-lg-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <input
          pInputText
          type="text"
          name="descricao"
          ngModel #descricao="ngModel"
          [required]="true"
          minlength="10">

        <!-- <app-message [control]="descricao" error="required" message="Descrição é obrigatório!"></app-message> -->
        <!-- <app-message [control]="descricao" error="minlength" message="Mínimo é {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message> -->

      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Valor</label>
        <input
          pInputText
          currencyMask
          [options]="optionsConfig"
          name="valor"
          ngModel #valor="ngModel"
          [required]="true"
          placeholder="R$ 0,00">

        <!-- <app-message [control]="valor" error="required" message="Valor é obrigatório!"></app-message> -->
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown
          placeholder="Selecione"
          [options]="categorias"
          [filter]="true"
          name="categoria"
          ngModel #categoria="ngModel"
          [required]="true"
        ></p-dropdown>

        <!-- <app-message [control]="categoria" error="required" message="Categoria é obrigatório!"></app-message> -->
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown
        placeholder="Selecione"
        [options]="pessoas"
        [filter]="true"
        name="pessoa"
        ngModel #pessoa="ngModel"
        [required]="true"
        ></p-dropdown>

        <!-- <app-message [control]="pessoa" error="required" message="Pessoa é obrigatório!"></app-message> -->
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Observação</label>
        <input pInputTextarea rows="3">
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" class="p-button-success" [disabled]="lancamentoForm.invalid"></button>
        <button pButton type="button" label="Novo"></button>
        <a href="javascript:;" pButton class="p-button-info">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
