<div class="container">
  <form autocomplete="off" (ngSubmit)="salvarLancamento()" [formGroup]="lancamentoForm">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>{{ estaEditando() ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="tipos" aria-pressed="true" name="tipo" formControlName="tipo"></p-selectButton>
      </div>

      <div class="p-col-12 p-md-6 p-lg-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          name="vencimento"
          formControlName="dataVencimento"
        ></p-calendar>

        <app-message [control]="lancamentoForm.get('dataVencimento')" error="required" message="Data de vencimento é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-lg-3 p-fluid">
        <label>{{ lancamentoForm.get('tipo')?.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="dataPagamento" formControlName="dataPagamento"></p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <input
          pInputText
          type="text"
          name="descricao"
          formControlName="descricao"
          >

        <app-message [control]="lancamentoForm.get('descricao')" error="obrigatoriedade" message="Descrição é obrigatório!"></app-message>
        <app-message [control]="lancamentoForm.get('descricao')" error="tamanhoMinimo" message="Mínimo é {{ lancamentoForm.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres!"></app-message>

      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Valor</label>
        <input
          pInputText
          currencyMask
          [options]="optionsConfig"
          name="valor"
          placeholder="R$ 0,00"
          formControlName="valor"
        >
        <app-message [control]="lancamentoForm.get('valor')" error="required" message="Valor é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown
          placeholder="Selecione"
          [options]="categorias"
          [filter]="true"
          emptyMessage="Nenhum resultado encontrado!"
          name="categoria"
          formControlName="codigo"
          ></p-dropdown>

        <app-message [control]="lancamentoForm.get('categoria')" error="required" message="Categoria é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown
        placeholder="Selecione"
        [options]="pessoas"
        [filter]="true"
        emptyMessage="Nenhum resultado encontrado!"
        name="pessoa"
        formControlName="codigo"
        ></p-dropdown>

        <app-message [control]="lancamentoForm.get('pessoa')" error="required" message="Pessoa é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Observação</label>
        <input pInputTextarea rows="3" name="observacao" formControlName="observacao">
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" class="p-button-success" [disabled]="lancamentoForm.invalid"></button>
        <button pButton type="button" label="Novo" (click)="novoLancamento()"></button>
        <a routerLink="/lancamentos" pButton class="p-button-info">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
