<div class="container">
  <form autocomplete="off" #lancamentoForm="ngForm" (ngSubmit)="salvarLancamento(lancamentoForm)">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="tipos" aria-pressed="true" #tipo name="tipo" [(ngModel)]="lancamento.tipo"></p-selectButton>
      </div>

      <div class="p-col-12 p-md-6 p-lg-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          name="vencimento"
          ngModel #vencimento="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.dataVencimento"
        ></p-calendar>

        <app-message [control]="vencimento" error="required" message="Data de vencimento é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-lg-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="dataPagamento"  [(ngModel)]="lancamento.dataPagamento"></p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <input
          pInputText
          type="text"
          name="descricao"
          ngModel #descricao="ngModel"
          [required]="true"
          minlength="10"
          [(ngModel)]="lancamento.descricao">

        <app-message [control]="descricao" error="required" message="Descrição é obrigatório!"></app-message>
        <app-message [control]="descricao" error="minlength" message="Mínimo é {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Valor</label>
        <input
          pInputText
          currencyMask
          [options]="optionsConfig"
          name="valor"
          ngModel #valor="ngModel"
          [required]="true"
          placeholder="R$ 0,00"
          [(ngModel)]="lancamento.valor">

        <app-message [control]="valor" error="required" message="Valor é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown
          placeholder="Selecione"
          [options]="categorias"
          [filter]="true"
          emptyMessage="Nenhum resultado encontado!"
          name="categoria"
          ngModel #categoria="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.categoria.codigo"
        ></p-dropdown>

        <app-message [control]="categoria" error="required" message="Categoria é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown
        placeholder="Selecione"
        [options]="pessoas"
        [filter]="true"
        emptyMessage="Nenhum resultado encontado!"
        name="pessoa"
        ngModel #pessoa="ngModel"
        [required]="true"
        [(ngModel)]="lancamento.pessoa.codigo"
        ></p-dropdown>

        <app-message [control]="pessoa" error="required" message="Pessoa é obrigatório!"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Observação</label>
        <input pInputTextarea rows="3" name="observacao" [(ngModel)]="lancamento.observacao">
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" class="p-button-success" [disabled]="lancamentoForm.invalid"></button>
        <button pButton type="button" label="Novo"></button>
        <a href="javascript:;" pButton class="p-button-info">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
