<div class="container">
  <div class="p-grid">
    <form autocomplete="off" (ngSubmit)="consultarPessoasPorFiltro()">
      <div class="p-col-12">
        <h1>Pessoas</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome" />
      </div>

      <div class="p-col-12">
        <button type="submit" label="Pesquisar" pButton></button>
      </div>
    </form>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table
        [value]="pessoas"
        [responsive]="true"
        [paginator]="true"
        [rows]="filtro.itensPorPagina"
        [totalRecords]="totalRegistros"
        [lazy]="true"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes-header">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>
              <span class="p-column-title">Nome</span>
              {{ pessoa.nome }}
            </td>
            <td>
              <span class="p-column-title">Cidade</span>
              {{ pessoa.endereco.cidade }}
            </td>
            <td>
              <span class="p-column-title">Estado</span>
              {{ pessoa.endereco.estado }}
            </td>
            <td>
              <span class="p-column-title">Status</span>
              <a
                class="status-pessoa"
                [pTooltip]="!pessoa.ativo ? 'Ativar' : 'Desativar'"
                tooltipPosition="top"
                (click)="alterarStatusPessoa(pessoa)"
              >
                {{ pessoa.ativo ? "Ativo" : "Inativo" }}
              </a>
            </td>
            <td class="col-acoes">
              <span class="p-column-title">Ações</span>
              <a
                icon="pi pi-pencil"
                pTooltip="Editar"
                tooltipPosition="top"
                pButton
                [routerLink]="['/pessoas', pessoa.codigo]"
              ></a>
              <button
                icon="pi pi-trash"
                pTooltip="Excluir"
                tooltipPosition="top"
                pButton
                (click)="confirmarExclusao(pessoa)"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptyMessage">
          <tr>
            <td colspan="5">Nenhuma pessoa encontrada</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-col-12">
      <a routerLink="/pessoas/novo" routerLinkActive="router-link-active"  label="Nova Pessoa" pButton></a>
    </div>
  </div>
</div>
