/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
}

label {
  font-weight: 700;
}

.divisor-calendarios {
  margin: 0 1rem;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}
