<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibirMenu()"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="mostrarMenu">
    <li class="navbar-usuario">
      {{ usuarioLogado }}
      <div class="btn-close" (click)="exibirMenu()">
        <i class="pi pi-times"></i>
      </div>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLink="/dashboard" (click)="exibirMenu()">Dashboard</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLink="/lancamentos"  (click)="exibirMenu()">Lançamentos</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="temPermissao('ROLE_PESQUISAR_PESSOA')">
      <a routerLink="/pessoas" (click)="exibirMenu()">Pessoas</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLink="/relatorios/lancamentos" (click)="exibirMenu()">Relátorios</a>
    </li>
    <li class="navbar-menuitem"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
