<div class="container">

  <form autocomplete="off" #loginForm="ngForm">

    <div class="p-grid">

      <div class="p-col-12 p-fluid">
        <h1>Login</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <input
          pInputText
          type="email"
          name="usuario"
          ngModel
          #usuario="ngModel"
          required
          placeholder="Email">

          <app-message [control]="usuario" error="required" message="Precisa ser um formato de email válido!"></app-message>
      </div>

      <div class="p-col-12 p-fluid">
        <input
          pInputText
          type="password"
          name="senha"
          ngModel
          #senha="ngModel"
          required
          placeholder="Senha">

          <app-message [control]="senha" error="required" message="Informe uma senha!"></app-message>
      </div>

      <div class="p-col-12">
        <button
          class="btn-login"
          pButton
          type="submit"
          label="Login"
          [disabled]="loginForm.invalid"
          (click)="login(usuario.value, senha.value); loginForm.reset()"
        ></button>
      </div>

    </div>

  </form>

</div>
